# Gradle files
.gradle/
build/
/*/build/

# IDE files
.idea/
*.iml
*.ipr
*.iws

# Android files
local.properties
captures/
.externalNativeBuild/
.cxx/
output.json

# Signing files
*.jks
*.keystore
*.p12
*.pepk

# Built artifacts
*.apk
*.aar
*.jar
/app/release/

# Project specific
.artifacts/

# OS specific
.DS_Store
Thumbs.db
desktop.ini
